{{ if and (eq .Section "posts") site.Params.giscusRepo site.Params.giscusRepoId site.Params.giscusCategory site.Params.giscusCategoryId }}
  <section class="comments" aria-label="New comments">
    <h2>Comments</h2>
    <script src="https://giscus.app/client.js"
      data-repo="{{ site.Params.giscusRepo }}"
      data-repo-id="{{ site.Params.giscusRepoId }}"
      data-category="{{ site.Params.giscusCategory }}"
      data-category-id="{{ site.Params.giscusCategoryId }}"
      data-mapping="pathname"
      data-strict="0"
      data-reactions-enabled="1"
      data-emit-metadata="0"
      data-input-position="bottom"
      data-theme="preferred_color_scheme"
      data-lang="en"
      crossorigin="anonymous"
      async>
    </script>
  </section>
{{ end }}
